// triangle
@mixin triangle {
    height:0;
    width:0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    display : block;
}
@mixin triangle-top($c,$w) {
     @include triangle;
     border-color:$c transparent transparent transparent;
     border-style:solid dashed dashed dashed;
     border-width:$w;
}
@mixin triangle-bottom($c,$w) {
     @include triangle;
     border-color:transparent transparent $c transparent;
     border-style:dashed dashed solid dashed;
     border-width:$w;
}
@mixin triangle-left($c,$w) {
     @include triangle;
     border-color:transparent transparent transparent $c;
     border-style:dashed dashed dashed solid;
     border-width:$w;
}
@mixin triangle-right($c,$w) {
     @include triangle;
     border-color:transparent $c transparent transparent;
     border-style:dashed solid dashed dashed;
     border-width:$w;
}

// arrow
@mixin arrow($w){
    height:$w;
    width:$w;
    display : block;
}
@mixin arrow-right($c,$w) {
     @include arrow($w);
     border-color:$c $c transparent transparent;
     border-style:solid solid dashed dashed;
     border-width:1px;
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     transform: rotate(45deg);
}
@mixin arrow-top($c,$w) {
     @include arrow($w);
     border-color:$c $c transparent transparent;
     border-style:solid solid dashed dashed;
     border-width:1px;
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     transform: rotate(-45deg);
}
@mixin arrow-left($c,$w) {
     @include arrow($w);
     border-color:$c $c transparent transparent;
     border-style:solid solid dashed dashed;
     border-width:1px;
     -webkit-transform: rotate(-135deg);
     -moz-transform: rotate(-135deg);
     transform: rotate(-135deg);
}
@mixin arrow-bottom($c,$w) {
     @include arrow($w);
     border-color:$c $c transparent transparent;
     border-style:solid solid dashed dashed;
     border-width:1px;
     -webkit-transform: rotate(135deg);
     -moz-transform: rotate(135deg);
     transform: rotate(135deg);
}