<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>七牛云 - JavaScript SDK</title>
    <link href="images/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="bower_components/icon/index.css">
    <link rel="stylesheet" href="bower_components/materialize.min.css/index.css">
    <!--[if lt IE 9]>
      <script src="bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<div id="root"></div>

	<script type="text/javascript" src="bower_components/plupload/js/moxie.js"></script>
	<script type="text/javascript" src="bower_components/plupload/js/plupload.dev.js"></script>
	<!-- <script type="text/javascript" src="bower_components/plupload/js/plupload.full.min.js"></script> -->
	<script type="text/javascript" src="bower_components/plupload/js/i18n/zh_CN.js"></script>
	<script type="text/javascript" src="bower_components/qiniu/dist/qiniu.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/materialize.min.js/index.js"></script>
</body>
</html>
